{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Customer Service{% endblock %}

{% block content %}

<h1>Customer Service Portal</h1>
    {% if user.is_authenticated and user.is_staff%}
        {% block logged_in_content %}
           <p><a href="{% url 'myuser-list' %}">Show me all users</a></p>
            
            <h2>Product Overview</h2>
            <form method="POST" action="{% url 'add-product'%}">
                {% csrf_token %}
                <button type="submit">Add a new Product</button>
            </form>
            {% if products %}
            <h3>Click to edit products</h3>
                {% for product in products %}
                    <div>
                        <ul>
                        <li><a href="{% url 'edit-product' product.pk %}">{{ product.title }}</a></li>
                        <form method="POST" action="{% url 'delete-product' product.pk %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                <!--             <form method="POST" action="{% url 'edit-product' product.pk %}">
                                {% csrf_token %}
                                <button type="submit">Edit</button>
                        </form> -->
                    </ul>
                    </div>
                {% endfor %}
            {% else %}
                <p>No products available.</p>
            {% endif %}
            
            <h2>Comments</h2>
            {% if comments %}
                {% for comment in comments %}
                    <div>
                        <p><a href="{% url 'comment-edit' comment.pk %}">Edit a comment</a></p>
                        <form method="POST" action="{% url 'comment-delete' %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ comment.pk }}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments available.</p>
            {% endif %}
            
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <p>You are not authorized</p>
            <a href="{% url 'login' %}">Login</a>
            <br>
        {% endblock %}
    {% endif %}
{% endblock %}
