{% extends "overview.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

{% block title %}Einkaufswagen{% endblock %}
    
{% block content %}

<body>
    <h1>Einkaufswagen</h1>
    <ul>
        {% for item in cart_items %}
            <li>{{ item.quantity }} x {{ item.product.name }} - {{ item.total_price }} €</li>
        {% endfor %}
    </ul>
    <p>Gesamtpreis: {{ total_price }} €</p>
    <a href="{% url 'overview' %}">Weiter einkaufen</a>
</body>

{% endblock %}

