{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    <title>
{% block title %}World of Sweets{% endblock %}
</title>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Sweets Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'overview' %}">Produktübersicht</a></li>
                <li><a href="{% url 'product-search' %}">Produktsuche</a></li>
                <li><a href="{% url 'cart-detail' %}">Warenkorb</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}
        <h1>World of Sweets</h1>
            <br>
           
            <section class="products">
                <div class="product-list">
                    {% for product in all_products %}
                        <div class="product">
                            <a href="{{ product.id }}">
                             <img src="{{ product.image.url }}" alt="{{ product.title }}"> 
                            <h3 class="title">{{ product.title }}</h3>
                        </a>
                            <p class="description">{{ product.description }}</p>
                            <p class="price">{{ product.price }} €</p>
                        </div>
                    {% endfor %}
                </div>
            </section> 
        </main>


        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 World of Sweets</p>
    </footer>
</body>




