{% extends 'home.html' %}
{% load static %}
{% block title %}Product detail{% endblock %}

{% block content %}
    <h2>Product detail</h2>

    <table>
        <tr>
            <td><b>Title:</b></td>
            <td>{{ single_product.title }}<br></td>
        </tr>
        <tr>
            <td><b>Regisseur:</b></td>
            <td>{{ single_product.regisseur }}<br></td>
        </tr>
        <tr>
            <td><b>Short Summary:</b></td>
            <td><p>{{ single_product.summary }}</p><br></td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td>{{ single_product.get_type_display }}<br></td>
        </tr>
        <tr>
            <td><b>FSK:</b></td>
            <td>{{ single_product.fsk }}<br></td>
        </tr>
        <tr>
            <td><b>Date added:</b></td>
            <td>{{ single_product.date }}<br></td>
        </tr>

    </table>

    
<h2>Ratings</h2>

{% for ratings in ratings_on_the_product %}
    <div>
        <p class="rating-meta">{{ rating.user.username }} on {{ rating.timestamp }}</p>
        <p class="rating">{{ rating.text }}</p>
    </div>
{% endfor %}


<br>

{#    Add new Comments #}
<p>Rate this product!</p>
<form method="POST">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <button type="submit">Add Rating</button>
</form>

    <br>
    <button class="button" role="button"> <a href="{% url 'overview' %}">Back to all Products</a></button>
{% endblock %}