{% extends 'home.html' %}
{% load static %}
{% block title %}Product detail{% endblock %}

{% block content %}
    <h2>{{ single_product.title }}</h2>

    <table>
        <tr>
            <td><b>Title:</b></td>
            <td>{{ single_product.title }}<br></td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td>{{ single_product.price }} €<br></td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td><p>{{ single_product.description }}</p><br></td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td>{{ single_product.get_type_display }}<br></td>
        </tr>

        <tr>
            <td><b>Date added:</b></td>
            <td>{{ single_product.date }}<br></td>
        </tr>

    </table>

    <a href="{% url 'add-to-cart' single_product.id %}" class="btn btn-primary">In den Warenkorb</a>
    <a href="{% url 'cart-detail' %}">Zum Warenkorb</a>

    
<h2>Ratings</h2>

{% for ratings in ratings_on_the_product %}
    <div>
        <p class="rating-meta">{{ rating.user.username }} on {{ rating.timestamp }}</p>
        <p class="rating">{{ rating.text }}</p>
    </div>
{% endfor %}


<br>

{#    Add new Comments #}
<p>Rate this product!</p>
<form method="POST">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <button type="submit">Add Rating</button>
</form>

    <br>
    <button class="button" role="button"> <a href="{% url 'overview' %}">Back to all Products</a></button>
{% endblock %}