{% extends 'overview.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Produktsuche{% endblock %}


{% block content %}

{% block logged_in_content %}

    <h1>Produktsuche</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit">Suchen</button>
    </form>
    <br>
    <br>

    {% if show_search_results %}
        <b>Produkte suchen:</b><br>

        <ul>
            {% for product in products_found %}
                <li>
                    <p><b>{{ product }}</b></p>

                    <a href="{% url 'product-detail' product.id %}">
                        Zeig das Produkt
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
{% endblock %}
