{% extends "overview.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}


{% block content %}
<body>
    <h2>{{ single_product.title }}</h2>

    <table>
        <tr>
            <td><img src="{{ single_product.image.url }}" alt="{{ single_product.name }}"><br></td>
        </tr>
        <tr>
            <td>{{ single_product.title }}<br></td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td>{{ single_product.price }} €<br></td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td><p>{{ single_product.description }}</p><br></td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td>{{ single_product.get_type_display }}<br></td>
        </tr>
        <tr>
            <td><b>PDF:</b></td>
            <td>
                {% if single_product.pdf %}
                    <a href="{{ single_product.pdf.url }}">Download PDF</a>
                {% else %}
                    Keine PDF vorhanden
                {% endif %}
                <br>
            </td>
        </tr>
    </table>

    <button class="button" role="button"> 
        <a href="{% url 'add-to-cart' single_product.id %}">In den Warenkorb</a>
    </button>
    <button class="button" role="button"> 
        <a href="{% url 'cart-detail' %}">Zum Warenkorb</a>
    </button>

    <h2>Ratings</h2>

    {% for rating in ratings_on_the_product %}
        <div>
            <p class="rating-meta">{{ rating.user.username }} on {{ rating.timestamp }}</p>
            <p class="rating">{{ rating.text }}</p>
            <p class="rating">Rating: {{ rating.rating }} / 5</p>
            <p>
                <a href="#" class="vote-link" data-id="{{ rating.id }}" data-type="helpful">Hilfreich</a> |
                <a href="#" class="vote-link" data-id="{{ rating.id }}" data-type="not_helpful">Nicht hilfreich</a>
            </p>
            <p>
                Hilfreich: <span id="helpful-count-{{ rating.id }}">{{ rating.helpful_count }}</span>
                Nicht hilfreich: <span id="not-helpful-count-{{ rating.id }}">{{ rating.not_helpful_count }}</span>
                <a href="{% url 'report-review' rating.id %}">Melden</a>
            {% if rating.user == request.user %}
                | <a href="{% url 'edit-rating' rating.id %}">Bearbeiten</a>
                | <a href="{% url 'delete-rating' rating.id %}">Löschen</a>
            {% endif %}
            </p>
        </div>
    {% endfor %}

    <br>

    <p>Rate this product!</p>
    <form method="POST">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Add Rating</button>
    </form>

    <br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.vote-link').click(function(e) {
                e.preventDefault();
                var ratingId = $(this).data('id');
                var voteType = $(this).data('type');
                var url = '{% url "vote-review" 0 "vote_type" %}'.replace('0', ratingId).replace('vote_type', voteType);

                $.get(url, function(data) {
                    $('#helpful-count-' + ratingId).text(data.helpful_count);
                    $('#not-helpful-count-' + ratingId).text(data.not_helpful_count);
                });
            });
        });
    </script>
</body>
{% endblock %}
